<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<mat-slider class="absolute top-5" showTickMarks>
  <input matSliderThumb />
</mat-slider>
<button routerLink="/form-material" class="btn_lite">
  form material schematic
</button>
<button routerLink="/navigation-material" class="btn_lite">
  navigation-material
</button>
<button routerLink="/tree-material" class="btn_lite">tree-material</button>
<button routerLink="/drag-drop-material" class="btn_lite">
  drag-drop-material
</button>
<button routerLink="/dashboard-material" class="btn_lite">
  dashboard-material
</button>
